@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100vh;
}
:root {
  background-color: var(--background-light);
  --background-dark: rgb(53, 53, 53);
  --background-dark-hover: rgb(37, 37, 37);
  --background-light: rgba(214, 212, 212, 0.815);
  --background-light-hover: rgba(179, 178, 178, 0.815);
  --background-light-max: rgba(214, 212, 212, 1);
  --text-dark: rgba(7, 7, 7, 0.808);
  --text-darkest: rgba(7, 7, 7, 1);
  --text-light: rgb(197, 196, 196);
  --text-white: rgb(243, 243, 243);
  --title-h1-light: rgba(255, 255, 255, 0.8);
  --title-h2-light: rgba(46, 45, 45, 0.8);
  --title-h3-light: rgba(255, 255, 255, 0.8);
  --title-h4-light: rgba(255, 255, 255, 0.8);
  --title-h5-light: rgba(255, 255, 255, 0.8);
  --title-h6-light: rgba(255, 255, 255, 0.8);
  --title-h1-dark: rgba(0, 0, 0, 0.8);
  --title-h2-dark: rgba(0, 0, 0, 0.8);
  --title-h3-dark: rgba(0, 0, 0, 0.8);
  --title-h4-dark: rgba(0, 0, 0, 0.8);
  --title-h5-dark: rgba(0, 0, 0, 0.8);
  --title-h6-dark: rgba(0, 0, 0, 0.8);
  --background-red: rgba(230, 55, 55, 0.6);
  --background-red-hover: rgba(230, 55, 55, 0.9);
  --background-red-hover-dark: rgb(253, 3, 3);
  --background-blue: rgba(0, 123, 250, 0.8);
  --background-blue-hover: rgba(0, 123, 250, 1);
  --background-blue-dark: rgba(54, 150, 247, 0.6);
  --background-blue-hover-dark: rgba(54, 150, 247, 1);
}

::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(232, 89, 115, 0.693);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2));
}

/* #body{

  background-color: var(--background-light);
} */

.modal-content{
  transform: none !important;
}
.light {
  transition: all 0.5s ease-in-out;

  /* background: radial-gradient(circle, rgba(167, 167, 167, 0.903) 0%, rgba(119, 119, 119, 0.635) 76%, rgba(54, 54, 54, 0.594) 89%);  */
  background-color: var(--background-light);
}
.light .profileDiv__h2,
.light .profileDiv__paragraph {
  color: var(--title-h2-light) !important;
}
.light .movieDetails__main-titleMovie,
.light .movieDetails__main-country,
.light .movieDetails__main-scoreMovie,
.light .movieDetails__main-div-genreTitle,
.light .movieDetails__main-div-ul-genresList,
.light .movieDetails__main-titleMovie {
  color: rgba(19, 18, 18, 0.9) !important;
}

.light footer {
  transition: all 0.5s ease-in-out;
  color: rgba(19, 18, 18, 0.9);
  background-color: rgba(160, 160, 160, 0.801);

  .footer__header-socialmedia-list svg path {
    transition: all 0.5s ease-in-out;
    color: var(--text-dark);
  }
  .footer__main-terms-list {
    transition: all 0.5s ease-in-out;
    color: rgba(0, 0, 0, 0.9);
  }
  .footer__footer-copyright {
    transition: all 0.5s ease-in-out;
    color: rgba(19, 18, 18, 0.9);
  }
}

.dark {
  transition: all 0.5s ease-in-out;
  /* background: radial-gradient(circle, rgba(27, 0, 0, 0.903) 0%, rgba(0, 0, 0, 0.635) 76%, rgba(14, 14, 23, 0.594) 89%); */
  background-color: var(--background-dark);
}
.dark .homePage__header-title {
  transition: all 0.5s ease-in-out;
  color: rgba(211, 211, 211, 0.8) !important;
}
.dark article {
  background-color: rgba(48, 47, 47, 0.7) !important;
  & .modal__btn-open {
    color: var(--text-white)!important;
  }

}
.dark .card__main {
  transition: all 0.5s ease-in-out;
  color: rgba(247, 245, 245, 0.8);
  background-color: rgba(48, 47, 47, 0.7) !important;
  .card__main-div-genreMovie{
    color: rgba(247, 245, 245, 0.8);
  }
  .card__footer-detailsLink {
    background-color: rgba(218, 216, 216, 0.7);
    &:hover {
      background-color: rgba(218, 216, 216, 0.9);
    }
  }
}
.dark #goUpButton {
  background-color: var(--background-light);
  color: var(--text-darkest);
  &:hover {
    background-color: var(--background-light-hover);
  }
}

.dark .movieDetails__footer_containerDescription_text {
  color: var(--text-light) !important;
}

.dark section {
  transition: all 0.5s ease-in-out;
  background-color: var(--background-dark) !important;
  & .form__modal-btnUpdateMovie {
    transition: all 0.5s ease-in-out;
    background-color: var(--background-blue-dark) !important;
    &:hover {
      background-color: var(--background-blue-hover-dark) !important;
    }
  }
  &.modalDelete__btnDelete {
    
    background-color: var(--background-red) !important;
    &:hover {
      background-color: var(--background-light-hover) !important;
      color: var(--text-dark);
    }
  }
  & .modal__btnClose {
    
    background-color: var(--background-light) !important;
    color: var(--text-dark);
    &:hover {
      background-color: var(--background-light-hover) !important;
    }
  }
}
